body {
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/57/Great_Plains%2C_Nebraska%2C_U.S._1.jpg');
	background-size: cover;

}

.backgroundImage img {
	background-size: fill;
	width: 100%;
	height: 100%;
}

.title {
	background-color: green;
	position: relative;
	top: 0;

}

h1 {
	font-family: 'Arial';
	text-align: center;
	color: white;
}

form {
	text-align: center;
	background-color: black;
	opacity: .5;
}

.timeStats {
	padding: 30px 0 0 0;
	text-align: center;
}
.timeStats h4 {
	display: inline;
	padding: 0 30px 0 30px;
}

.gameButtons {

	text-align: center;
}
.gameButtons button {
	position: relative;
	text-align: center;

}

.wagon {
	padding: 225px 0 80px 0;
	position: relative;
	bottom: 0;
}

footer {
	background-color: gray;
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}



