.background {
	background-image: url('http://s3.amazonaws.com/opa-photos/photos/photos/000/060/726/large/5-oregon-trail-150722.jpg?1469394153');
	background-size: cover;
	width: 1080px;
	height: 600px;
}
.title {
	text-align: center;
	padding: 20px 0 20px 0;
	background-color: black;
	opacity: .5;
}
.title img {
	text-align: center;
	max-width: 25%;
}

form {
	text-align: center;
	padding: 200px 0 50px 0;
}

.timeStats {
	text-align: center;
	padding: 15px;
}
.timeStats h4 {
	display: inline;
	padding: 20px 20px 0 20px;
	font-family: 'Yanone Kaffeesatz', sans-serif;

}

.vitals {
	background-color: black;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: white;
	width: 180px;
	opacity: .5;
	padding: 5px 10px 5px 10px;
	margin-left: 10px;
}
.vitals ul {
	list-style-type: none;
}


.gameButtons {
	display: inline-flex;
	position: relative;
	text-align: center;
}
.gameButtons button {
	position: relative;
	bottom: 0;
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}


.background .wagon {
	padding: 150px 0 50px 0;
	position: relative;
}

.predator {
	position: relative;
	height: 50%;
}
.gifs .predator img {
	height: 50%;
}

.gifs {
/*	display: inline-flex;*/
}
/*.gifs .wagon {
	float: left;
}
.gifs .predator {
	float: right;
	position: relative;
}*/









